# Third party keys
# OPENAI_API_KEY = '****'
# ANTHROPIC_API_KEY = '****'
# GOOGLE_API_KEY = '****'
TAVILY_API_KEY = '****'
MODEL=gpt-4o-mini

# Langsmith keys
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY='****'
LANGSMITH_PROJECT="project"

# Logging

APP_ENV=development

LOG_LEVEL=INFO

# Console + file logging
LOG_TO_FILE=false

LOG_FILE=logs/app.log
LOG_MAX_BYTES=10000000
LOG_BACKUP_COUNT=5